doctype html
html(lang="en")
  head
    title Stencil Slack
    style
        include ../style/homepage.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  body
    #header
        h1 Stencil Slack
    #logoutButton
        button(type="button", onclick="logout()")|logout(#{username})
    #nav
    #buttons
        button(type="button", onclick="newPublicChannel()")|New Public Channel
        button(type="button", onclick="newPrivateChannel()")|New Private Channel
        button(type="button", onclick="getChannels()")|Channels
        button(type="button", onclick="browseAllChannels()")|Browse All Channels
        button(type="button", onclick="renderTeamConfig()")|Team
    #mainSection
    script
        |username = !{username};
        |hashedPublicKey = !{hashedPublicKey};
        |page = !{page};
        |channels = !{channels};
        |readableTeamName = !{readableTeamName};
        |flatTeamName = !{flatTeamName};
        |msgs = !{msgs};
        |chosenChannel = !{chosenChannel};
        include ../script/homepage.js